{% if user %}

<div class="message-box">You are already logged in.</div>

{% else %}

<form
        data-request="onLogin">
    <div class="form-group">
        <label for="register{{account.signUp}}">{{account.signUp|capitalize}}</label>
        <input
                name="{{account.signUp}}"
                type='{% if account.signUp == "email" %}email{% else %}text{% endif %}'
                class="form-control"
                id="register{{account.signUp}}"
                placeholder="Enter your {{account.signUp}}" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">{{ "clake.userextended::lang.components.account.password"|trans }}</label>
        <input
                name="password"
                type="password"
                class="form-control"
                id="userSigninPassword"
                placeholder="Enter your password" />
    </div>

    <button type="submit" class="btn btn-default">{{ "clake.userextended::lang.components.account.signin"|trans }}</button>
</form>

{% endif %}