{% if user %}

<div class="message-box">You are already logged in.</div>

{% else %}
<div class="container">
	<form
			data-request="onLogin"
			id="signupForm">
		<div class="form-group">
			<label for="register{{account.signUp}}">{{account.signUp|capitalize}}</label>
			<input
					name="{{account.signUp}}"
					type='{% if account.signUp == "email" %}email{% else %}text{% endif %}'
					class="form-control"
					id="register{{account.signUp}}"
					value = ""
					placeholder="Enter your {{account.signUp}}" />
		<p class="error-box" id="{{account.signUp}}_error"> You need to enter a {{account.signUp}}.</p>
		</div>

		<div class="form-group">
			<label for="userSigninPassword">{{ "clake.userextended::lang.components.account.password"|trans }}</label>
			<input
					name="password"
					type="password"
					class="form-control"
					id="userSigninPassword"
					value = "";
					placeholder="Enter your password" />
			<p class="error-box" id="password_error"> You need to enter a password.</p>
		</div>

		<button type="submit" class="btn btn-default" id="submitButton">{{ "clake.userextended::lang.components.account.signin"|trans }}</button>
	</form>	
</div>

{% endif %}

{% put scripts %}
    <script type="text/javascript" src="plugins/clake/userextended/assets/js/validate_login.js"></script>
{% endput %}