{% if user %}

<div style="border: 1px solid blue;
background-color: #b3daff;
padding: 10px 10px;
width: 100%;
text-align: center;
border-radius: 8px;
margin: 10px 10px;">You are already logged in.</div>

{% else %}
<form
        data-request="onRegister">
    <div class="form-group">
        <label for="registerFirstName">{{ "clake.userextended::lang.components.account.firstname"|trans }}</label>
        <input
                name="first_name"
                type="text"
                class="form-control"
                id="registerFirstName"
                placeholder='{{ "clake.userextended::lang.components.account.enterfname"|trans }}' />
    </div>

    <div class="form-group">
        <label for="registerLastName">{{ "clake.userextended::lang.components.account.lastname"|trans }}</label>
        <input
                name="last_name"
                type="text"
                class="form-control"
                id="registerLastName"
                placeholder='{{ "clake.userextended::lang.components.account.enterlname"|trans }}' />
    </div>

    <div class="form-group">
        <label for="register{{account.signUp}}">{{account.signUp|capitalize}}</label>
        <input
                name="{{account.signUp}}"
                type='{% if account.signUp == "email" %}email{% else %}text{% endif %}'
                class="form-control"
                id="register{{account.signUp}}"
                placeholder="Enter your {{account.signUp}}" />
    </div>

    {% if account.signUp == "username" %}

    <div class="form-group">
        <label for="registerEmail">{{ "clake.userextended::lang.components.account.email"|trans }}</label>
        <input
                name="email"
                type="email"
                class="form-control"
                id="registerEmail"
                placeholder='{{ "clake.userextended::lang.components.account.enteremail"|trans }}' />
    </div>

    {% endif %}

    <div class="form-group">
        <label for="registerPassword">{{ "clake.userextended::lang.components.account.password"|trans }}</label>
        <input
                name="password"
                type="password"
                class="form-control"
                id="registerPassword"
                placeholder='{{ "clake.userextended::lang.components.account.enterpassword"|trans }}' />
    </div>

    <div class="form-group">
        <label for="registerConfirmPassword">{{ "clake.userextended::lang.components.account.confirmpassword"|trans }}</label>
        <input
                name="password_confirmation"
                type="password"
                class="form-control"
                id="registerConfirmPassword"
                placeholder='{{ "clake.userextended::lang.components.account.confirmpassword"|trans }}' />
    </div>

    {% for setting,attributes in account.createSettings %}

    <div class="form-group">
        <label for="accountSettings{{setting}}">{{attributes.options.label}}</label>
        <input name="{{setting}}" type="{{ attributes.options.type }}" class="form-control" id="accountSettings{{setting}}">
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-default">{{ "clake.userextended::lang.components.account.register"|trans }}</button>
</form>

{% endif %}