{% if user %}


{% else %}
<form
        data-request="onRegister">
    <div class="form-group">
        <label for="registerFirstName">First Name</label>
        <input
                name="first_name"
                type="text"
                class="form-control"
                id="registerFirstName"
                placeholder="Enter your first name" />
    </div>

    <div class="form-group">
        <label for="registerLastName">Last Name</label>
        <input
                name="last_name"
                type="text"
                class="form-control"
                id="registerLastName"
                placeholder="Enter your last name" />
    </div>

    <div class="form-group">
        <label for="register{{account.signUp}}">{{account.signUp|capitalize}}</label>
        <input
                name="{{account.signUp}}"
                type='{% if account.signUp == "email" %}email{% else %}text{% endif %}'
                class="form-control"
                id="register{{account.signUp}}"
                placeholder="Enter your {{account.signUp}}" />
    </div>

    {% if account.signUp == "username" %}

    <div class="form-group">
        <label for="registerEmail">Email</label>
        <input
                name="email"
                type="email"
                class="form-control"
                id="registerEmail"
                placeholder="Enter your email" />
    </div>

    {% endif %}

    <div class="form-group">
        <label for="registerPassword">Password</label>
        <input
                name="password"
                type="password"
                class="form-control"
                id="registerPassword"
                placeholder="Choose a password" />
    </div>

    <div class="form-group">
        <label for="registerConfirmPassword">Confirm Password</label>
        <input
                name="password_confirmation"
                type="password"
                class="form-control"
                id="registerConfirmPassword"
                placeholder="Choose a password" />
    </div>

    {% for setting,attributes in account.createSettings %}

    <div class="form-group">
        <label for="accountSettings{{setting}}">{{attributes.options.label}}</label>
        <input name="{{setting}}" type="{{ attributes.options.type }}" class="form-control" id="accountSettings{{setting}}">
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-default">Register</button>
</form>

{% endif %}