{% if user %}

<div class="message-box">You are already logged in.</div>

{% else %}
<form
        data-request="onRegister"
		id ="signupForm">
    <div class="form-group">
        <label for="registerFirstName">{{ "clake.userextended::lang.components.account.firstname"|trans }}</label>
        <input
                name="first_name"
                type="text"
                class="form-control"
                id="registerFirstName"
				required="{{attributes.options.validation}}"
                placeholder='{{ "clake.userextended::lang.components.account.enterfname"|trans }}' />
		<p class="error-box" id="first_name_error"> Your first name is required.</p>
    </div>

    <div class="form-group">
        <label for="registerLastName">{{ "clake.userextended::lang.components.account.lastname"|trans }}</label>
        <input
                name="last_name"
                type="text"
                class="form-control"
                id="registerLastName"
				required="{{attributes.options.validation}}"
                placeholder='{{ "clake.userextended::lang.components.account.enterlname"|trans }}' />
		<p class="error-box" id="last_name_error"> Your last name is required.</p>
    </div>

    <div class="form-group">
        <label for="register{{account.signUp}}">{{account.signUp|capitalize}}</label>
        <input
                name="{{account.signUp}}"
                type='{% if account.signUp == "email" %}email{% else %}text{% endif %}'
                class="form-control"
                id="register{{account.signUp}}"
				required="{{attributes.options.validation}}"
                placeholder="Enter your {{account.signUp}}" />
		<p class="error-box" id="{{account.signUp}}_error"> <span class="capitalize">{{account.signUp}}</span> is required to signup.</p>
    </div>

    {% if account.signUp == "username" %}

    <div class="form-group">
        <label for="registerEmail">{{ "clake.userextended::lang.components.account.email"|trans }}</label>
        <input
                name="email"
                type="email"
                class="form-control"
                id="registerEmail"
				required="{{attributes.options.validation}}"
                placeholder='{{ "clake.userextended::lang.components.account.enteremail"|trans }}' />
		<p class="error-box" id="email_error"> An email is required to login.</p>
    </div>

    {% endif %}

    <div class="form-group">
        <label for="registerPassword">{{ "clake.userextended::lang.components.account.password"|trans }}</label>
        <input
                name="password"
                type="password"
                class="form-control"
                id="registerPassword"
				required="{{attributes.options.validation}}"
                placeholder='{{ "clake.userextended::lang.components.account.enterpassword"|trans }}' />
		<p class="error-box" id="password_error"> You must enter a password. </p>
	</div>

    <div class="form-group">
        <label for="registerConfirmPassword">{{ "clake.userextended::lang.components.account.confirmpassword"|trans }}</label>
        <input
                name="password_confirmation"
                type="password"
                class="form-control"
                id="registerConfirmPassword"
				required="{{attributes.options.validation}}"
                placeholder='{{ "clake.userextended::lang.components.account.confirmpassword"|trans }}' />
		<p class="error-box" id="password_confirmation_error"> Your passwords do not match.</p>
    </div>

    {% for setting,attributes in account.createSettings %}

    <div class="form-group">
        <label for="accountSettings{{setting}}">{{attributes.options.label}}</label>
        <input 
			name="{{setting}}" 
			type="{{ attributes.options.type }}" 
			class="form-control" 
			id="accountSettings{{setting}} 
			required="{{attributes.options.validation}}"">
		<p class="error-box" id="{{setting}}_error"> <span class="capitalize">{{setting}}</span> is required</p>
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-default" id="submitButton">{{ "clake.userextended::lang.components.account.register"|trans }}</button>
</form>

{% put scripts %}
    <script type="text/javascript" src="plugins/clake/userextended/assets/js/validate_signup.js"></script>
{% endput %}

{% endif %}