{% if user %}

{{ form_ajax('onUpdate', { model: user }) }}

<div id="signupForm">

	<div class="form-group">
		<label for="accountName">{{ "clake.userextended::lang.components.account.fullname"|trans }}</label>
		<input 
			name="name" 
			type="text" 
			class="form-control" 
			id="accountName" 
			required="{{attributes.options.validation}}"
			value="{{ form_value('name') }}">
		<p class="error-box" id="name_error"> You need to enter a name.</p>
	</div>

	<div class="form-group">
		<label for="accountEmail">{{ "clake.userextended::lang.components.account.email"|trans }}</label>
		<input 
			name="email" 
			type="email" 
			class="form-control" 
			id="accountEmail" 
			required="{{attributes.options.validation}}"
			value="{{ form_value('email') }}">
		<p class="error-box" id="email_error"> You need to enter an email.</p>
	</div>

	<div class="form-group">
		<label for="accountPassword">{{ "clake.userextended::lang.components.account.newpassword"|trans }}</label>
		<input 
			name="password" 
			type="password" 
			class="form-control" 
			id="accountPassword"
			required="{{attributes.options.validation}}">
		<p class="error-box" id="password_error"> You need to enter a password.</p>
	</div>

	<div class="form-group">
		<label for="accountPasswordConfirm">{{ "clake.userextended::lang.components.account.confirmnewpassword"|trans }}</label>
		<input 
			name="password_confirmation" 
			type="password" 
			class="form-control" 
			id="accountPasswordConfirm"
			required="{{attributes.options.validation}}">
		<p class="error-box" id="password_confirmation_error"> Your passwords do not match.</p>
	</div>

	{% for setting,attributes in account.updateSettings %}

	<div class="form-group">
		<label for="accountSettings{{setting}}">{{attributes.options.label}}</label>
		<input 
			name="{{setting}}" 
			type="{{ attributes.options.type }}" 
			class="form-control" 
			id="accountSettings{{setting}} 
			required="{{attributes.options.validation}}""
			value="{{ attributes.0 }}"/>
		<p class="error-box" id="{{setting}}_error"><span class="capitalize">{{setting}}</span> is a required field.</p>
	</div>

	{% endfor %}

	<button type="submit" class="btn btn-default" id="submitButton">{{ "clake.userextended::lang.components.account.save"|trans }}</button>

</div>

{{ form_close() }}

{% else %}

<div class="message-box">You are not logged in.</div>

{% endif %}

{% put scripts %}
    <script type="text/javascript" src="plugins/clake/userextended/assets/js/validate_update.js"></script>
{% endput %}