subject = "[UserExtended] You have successfully registered!"

==

<div style="text-align: center;">
	<div style="color: green; font-size: 15px;">Hello {{user}}!</div>
	<div>Thank you for signing up for an account. We won't keep you waiting! To activate your account click the link below.</div>
	<div style="margin: 10px 10px;">{{link}}</div>
	<div>Use the following code to activate your account: <span style="font-size: 14px;">{{code}}</span></div>
	<div style="margin-top: 15px; border-top: 1px solid black;">Powered by UserExtended</div>
</div>