<style>

    div.userblock
    {
        color:#000;
    }

    /*div.userblock:hover
    {

        background-color:rgba(0,0,0,0.1);

    }/*
</style>

<div class="row container" style="margin-top:10px;">

    <div class="col s12 ">

        <div class="row">

            <div class="col s12 m3"></div>
            <div class="col s12 m2">
                <img src="{% if ueuser.user.avatar.path %}{{ueuser.user.avatar.path}} {% else %} https://diasp.eu/assets/user/default.png {% endif %}" width=120 height=120 /> <br>
                <span style="font-size:19px;font-style:bold;">{{ueuser.user.name}}</span> <br>
                {% if ueuser.unrestricted %}<span style="font-size:11px;font-style:italic;">{{ueuser.user.email}}</span>{% endif %}
            </div>
            <div class="col s12 m4">
                Stars: 0
                <br>
                ThumbUps: 0
                <br>
                Gold: 5
            </div>
            <div class="col s12 m3">

                {% if not ueuser.unrestricted %}
                See more of this persons profile by adding them as a friend
                <div style="bottom:0;">
                    {{ueuser.user.name}} <button data-request-data="id: {{ueuser.user.id}}" data-request="ueuser::onFriendUser">Add</button>
                </div>
                {% endif %}

            </div>

        </div>

        <div class="row">
            <div class="col s12 m3"></div>
            <div class="col s12 m6">
                <h4>Comments</h4>
                <div id="comment_section">

                    {% for comment in ueuser.comments %}
                    <div class="userblock">
                        {{comment.content}} <br>
                        <span><a href="#" data-request-data="commentid: {{comment.id}}" data-request="ueuser::onDeleteComment"><span class="glyphicon glyphicon-remove">X</span></a></span> <i style="font-size:11px;">{{ "clake.userextended::lang.components.user.writtenat"|trans }}: {{comment.created_at}} by <a href="/users/{{comment.author.id}}">{{comment.author.name}}</a></i>
                        <hr>
                    </div>
                    {% endfor %}

                </div>
                <h5>Write a comment</h5>
                {% if ueuser.unrestricted %}
                <form data-request="ueuser::onComment">
                    <textarea rows="2" name="comment"></textarea>
                    <input type="submit" value="Comment" />
                </form>
                {% else %}
                Leave a comment for {{ueuser.user.name}} by {% if not user %} signing in and {% endif %} friending them.
                {% endif %}
            </div>
        </div>


    </div>

</div>

