<div class="row container" style="margin-top:10px;">

    <div class="col-sm-12 ">

        <div class="row" style="text-align: center;">

            <div class="col-sm-12 col-md-3"></div>
            <div class="col-sm-12 col-md-2">
                <div class="avatar-medium">
                    <div class="responsive-circle center-in-parent" style="background-image:url({% if ueuser.user.avatar.path %} {{ueuser.user.avatar.path}} {% else %} https://diasp.eu/assets/user/default.png {% endif %})">

                    </div>
                </div>

                <div style="width:100%;text-align:center;margin-bottom: 10px;">
                        <span style="font-size:40px;font-style:bold;">{{ueuser.user.name}}</span> <br>
                        <button data-request-data="id: {{ueuser.user.id}}" data-request="ueuser::onFriendUser">Add</button>
                </div>
                {% if ueuser.unrestricted %}
                    <div style="width:100%;text-align:center;">
                          <span style="font-size:15px;font-style:italic;width:100%;text-align:center;">{{ueuser.user.email}}</span>
                    </div>
			    {% endif %}
            </div>
            <div class="col-sm-12 col-md-4" style="width: 100%; background-color: lightblue;">
				<div style="float: left; width: 33.33%; text-align: center;">
                Stars: 0
				</div>
				<div style="float: left; width: 33.33%; text-align: center;">
                ThumbUps: 0
				</div>
				<div style="float: left; width: 33.33%; text-align: center;">
                Gold: 5
				</div>
				<br class="clear" />
            </div>
            <div class="col-sm-12 col-md-3">

                {% if not ueuser.unrestricted %}
                    <div>See more of this persons profile by adding them as a friend</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-3">

            </div>
            <div class="col-sm-12 col-md-6">
                <h4>Comments</h4>
                <div id="comment_section">

                    {% for comment in ueuser.comments %}
                    <div class="userblock">
                        {{comment.content}} <br>
                        <span><a href="#" data-request-data="commentid: {{comment.id}}" data-request="ueuser::onDeleteComment"><span class="glyphicon glyphicon-remove">X</span></a></span> <i style="font-size:11px;">{{ "clake.userextended::lang.components.user.writtenat"|trans }}: {{comment.created_at}} by <a href="/users/{{comment.author.id}}">{{comment.author.name}}</a></i>
                        <hr>
                    </div>
                    {% endfor %}

                </div>
                <h5>Write a comment</h5>
                {% if ueuser.unrestricted %}
                <form data-request="ueuser::onComment">
                    <textarea rows="2" name="comment"></textarea>
                    <input type="submit" value="Comment" />
                </form>
                {% else %}
                Leave a comment for {{ueuser.user.name}} by {% if not user %} signing in and {% endif %} friending them.
                {% endif %}
            </div>
        </div>
    </div>
</div>