.message-box {
    border: 1px solid blue;
    background-color: #b3daff;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    margin: 10px 10px;
}

.error-box {
	padding: 10px;
	color: red;
	font-size: 14px;
}

span .capitalize {
	text-transform: capitalize;
}