.table {
	display: table; 
	width: 100%;
}

.table-header {
	display: table-row; 
	background-color: lightgrey;
}

.table-row {
	display: table-row;
	width: 100%;
	border-top: 1px solid black;
}

.table-cell-20 {
	display: table-cell; 
	width: 20%; 
	text-align: center;
	vertical-align: middle;
}

.table-cell-30 {
	display: table-cell; 
	width: 30%; 
	text-align: center;
	vertical-align: middle;
}

/* Credit zds of Stackoverflow */
div.circle-avatar{
	height: 60px;
	width: 60px;

	/* make it responsive */
	/*max-width: 100%;
	width:100%;
	height: auto;
	display:block;*/
	/* div height to be the same as width*/
	/*padding-top:100%;*/

	/* make it a circle */
	border-radius:50%;

	/* Centering on image`s center*/
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;

	/* it makes the clue thing, takes smaller dimension to fill div */
	background-size: cover;
}

div.center-in-parent
{
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}