<div style="width: 100%; text-align: center;">Your Friends</div>

<div class="table">
    <div class="table-header">
        <div class="table-cell-20">Picture</div>
        <div class="table-cell-30">Username</div>
        <div class="table-cell-30">Last Online</div>
        <div class="table-cell-20">Add Friend</div>
    </div>

    {% if friends.friendsList %}
    {% for friend in friends.friendsList %}
    <div class="table-row">
        <a href="#" class="table-cell-20" data-request-data="id: {{friend.id}}" data-request="ueuser::onVisitProfile">
            <div class="avatar-small"><div class="responsive-circle center-in-parent" style="background-image:url({% if ueuser.friend.avatar.path %} {{ueuser.friend.avatar.path}} {% else %} https://diasp.eu/assets/user/default.png {% endif %})"></div></div> <br>
        </a>
        <a href="#" class="table-cell-30" data-request-data="id: {{user.id}}" data-request="ueuser::onVisitProfile">
            {{friend.name}} {{friend.surname}}
        </a>
        <a href="#" class="table-cell-30" data-request-data="id: {{user.id}}" data-request="ueuser::onVisitProfile">
            {{friend.last_seen}}
        </a>
        <div class="table-cell-20">
            <button data-request-data="id: {{friend.id}}" data-request="friends::onDelete">Delete Friend</button>
        </div>
    </div>

    {% endfor %}

</div>

{% endif %}